*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

.main-content{
    height: 600px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    display: flex;
}

.opciones{
    height: 100%;
    width: 20%;
    background-color: lightblue;
}

.colores{
    display: flex;
    justify-content: space-between;
}

.colores h2{
    width: 50%;
    height: auto;
    padding: 10px 0px 0px 10px;
}

.colores input{
    margin: 10px 10px 0px 0px;
    height: 40px;
    width: 40px;
}

.borrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.borrar label{
    padding-left: 10px;
}

.borrar button{
    margin: 10px auto;
    width: 90%;
}

.area{
    width: 80%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.columna{
    height: 10%;
    width: 100%;
    display: flex;
}

.box{
    border: 0.5px solid black;
    height: 100%;
    width: 10%;
}